@model SuperHeroWeb.Models.Heroe


<div class="album py-5 justify-content-md-center">
    <div class="container justify-content-md-center">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-title fs-5 fw-bold">Datos del Heroe: </p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Id): @Html.DisplayFor(model => model.Id)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Nombre) : @Html.DisplayFor(model => model.Nombre)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Superpoder) : @Html.DisplayFor(model => model.Superpoder)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Nivel) : @Html.DisplayFor(model => model.Nivel)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Retirado) : @Html.DisplayFor(model => model.Retirado)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Correo) : @Html.DisplayFor(model => model.Correo)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.FechaNac) : @Html.DisplayFor(model => model.FechaNac)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Altura) : @Html.DisplayFor(model => model.Altura)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Peso) : @Html.DisplayFor(model => model.Peso)</p>
                    </div>
                    <div class="row justify-content-md-center">
                        <p>
                            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary my-3 ms-2" })
                            @Html.ActionLink("Volver atras", "Index", new { }, htmlAttributes: new { @class = "btn btn-secondary my-3 mx-2btn btn-secondary" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
